body {
    background-color: forestgreen;
}
.cardImage1{
    height: 200px;
    position: fixed;
    bottom:20px;
    left:20%;
}
.cardImage2{
    height: 200px;
    position: fixed;
    bottom:20px;
    left:32%;
}
.cardImage3 {
    height: 200px;
    position: fixed;
    bottom:20px;
    left:44%;
}
.cardImage4 {
    height: 200px;
    position: fixed;
    bottom:20px;
    left:56%;
}
.cardImage5 {
    height: 200px;
    position: fixed;
    bottom:20px;
    left:68%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: auto;
  padding: 50px;
}

#dealButton {
    padding: 10px 30px;
    margin-top: 5px;
    margin-left: 20px;
    background-color:rgb(240, 235, 225);
    border-radius: 8px;
    border-color: rgb(67, 67, 67);
    outline: 5px;
    position: absolute;
}
#hitmeButton {
    padding: 10px 30px;
    margin-left: 20px;
    margin-top: 18px;
    background-color:rgb(240, 235, 225);
    border-radius: 8px;
    border-color: rgb(67, 67, 67);
    outline: 5px;
    position: absolute;
    top: 50px;
    display: none;
}

